body {
    /* background-color: #F6F8FF; */
    background-color: white;
    min-height: 100vh;
}

*, *:after, *:before {
    box-sizing: border-box;
}

/*
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Raleway"), url("../../public/fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("../../public/fonts/Raleway/Raleway-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Raleway"), url("../../public/fonts/Raleway/Raleway-700.woff2") format("woff2"), url("../../public/fonts/Raleway/Raleway-700.woff") format("woff");
  }
*/

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../public/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../public/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../../public/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../public/fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@media screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1023px) {
    html {
        font-size: 14px;
    }
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.header-text {
    color: #ff460c;
}

/*
.logo {
    float: left;
    height: 62px;
    width: 56px;
}

@media screen and (max-width: 769px) {
    .logo {
        height: 45px;
        width: 40px;
    }
}
*/

.logo-icon-left {
    float: left;
    height: 80px;
    width: 200px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .logo-icon-left {
        height: 60px;
        width: 160px;
    }
}

.logo-full {
    height: 560px;
    width: 560px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .logo-full {
        height: 400px;
        width: 400px;
    }
}

.logo-icon {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .logo-icon {
        height: 40px;
        width: 40px;
    }
}

.text-faded {
    color: rgba(84, 84, 84, 0.7);
    width: 80px;
    margin: auto;
}

.bloc-comment {
    width: 300px;
    margin-right: 10px;
}

.text, p {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 769px) {
    .text, p, .text-xsmall
    {
        font-size: 15px;
    }
}

.text-xsmall {
    font-size: 13px;
}


h1 {
    font-size: 32px;
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 24px;
    }
}

h2 {
    font-size: 28px;
}

@media screen and (max-width: 769px) {
    h2 {
        font-size: 20px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

input {
    box-shadow: none;
}

form {
    margin: 0;
}

.form-input {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font: inherit;
    padding: 5px 10px;
    transition: all 0.3s ease;
    width: 100%;
    color: #505050;
    background-color: #fdfdfd;
    min-height: 43px;
}

.form-input:disabled {
    cursor: no-drop;
    background: #F5F8FE;
    color: #bbbbbb;
}

.form-input:disabled::placeholder {
    color: #bbbbbb;
}

.form-input::placeholder {
    font-size: inherit;
    font-weight: 400;
    color: #878787;
}

.form-input:focus {
    outline: none;
    border: 1px solid #c7c7c7;
    color: #434343;
    background-color: white;
}

.form-input:invalid {
    border-color: #C82543;
}

.form-input:invalid ~ .form-error {
    display: block;
}

@media screen and (max-width: 769px) {
    .form-input {
        padding-left: 10px;
        height: 50px;
    }
}

/*
textarea.form-input {
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 0px;
    min-height: 110px;
}
*/

.post-content, .comment-content {
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 0px;
    min-height: 110px;
}

.comment-content {
   width: 100%;
   min-height: 60px;
}

.input-error {
    border-color: #C82543;
}

.input-error ~ .form-error, .alert-error {
    display: block;
}

.form-error, .alert-error, .alert-succes {
    background: #f4d3d9;
    color: #C82543;
    font-size: 0.8em;
    float: left;
    border-radius: 100px;
    padding: 6px 20px;
    margin-top: 10px;
}

.alert-succes {
    color: #080808;
}

@media screen and (max-width: 769px) {
    .form-error, .alert-error, .alert-succes {
        width: 100%;
    }
}

.comment-group {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   width: 40%;
}

.input-group {
    margin-bottom: 12px;
    width: 100%;
    display: block;
}

.form-label, .input-group > label {
    margin-bottom: 5px;
    display: block;
    color: #767676;
}

.form-label-password, .input-group > label-password {
    margin-bottom: 0px;
}

@media scrren and (max-width: 769px) {
    .form-btn {
        width: 100%;
    }
}

input[type="submit"],
button {
    -webkit-appearance: none;
    font-size: 18px;
    cursor: pointer;
}

button {
    -webkit-appearance: none;
}

button a {
    color: white;
}

button {
    border: none;
    background: transparent;
    appearance: none;
}

.btn, .btn-blue {
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    display: inline-block;
    outline: 0;
}

.btn:hover, .btn-blue:hover {
    transition: all 0.4s ease;
}

@media screen and (max-width: 769px) {
    .btn, .btn-blue {
        padding: 10px 20px;
    }
}

.btn-block {
    width: 100%;
}

.btn-blue {
    color: white;
    background: #8f1f28;
}

.btn-blue:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #8f1f28;
}

button {
    outline: 0;
}

.form-actions, .btn-group {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-actions > *:not(:last-child), .btn-group > *:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 769px) {
    .form-actions, .btn-group {
        flex-wrap: wrap;
    }

    .form-actions > .btn-group {
        flex: 1 1;
        margin-bottom: 5px;
    }
}

.space-between {
    justify-content: space-between;
}

.card {
    background: white;
    margin-top: 20px;
}

@media screen and (max-width: 769px) {
    .card {
        margin-bottom: 20px;
    }
}

.card-form {
    padding: 40px 60px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

@media screen and (min-width: 1024px) {
    .card-form {
        padding: 60px;
    }
}

@media screen and (max-width: 1023px) {
    .card-form {
        padding: 40px;
    }
}

@media screen and (max-width: 769px) {
    .card-form {
        padding: 40px 20px;
        margin-top: 10px;
    }
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 769px) {
    body {
        font-size: 15px;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ff460c;
}

li a:hover {
    color: #8f1f28;
}

li a:active {
    color:  rgb(245 134 134 / 30%);
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

.flex-column {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .flex-column {
        max-width: 800px;
    }
}

.flex-container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-grow: 1;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
    .flex-container {
        max-width: 900px;
    }
}

.flex-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.col {
    margin: 0 1%;
}

@media screen and (max-width: 769px) {
    .col {
        margin: 0 4%;
    }
}

.container {
    display: flex;
    max-width: 1200px;
    width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
    .container {
        width: 96%;
    }
}

.text-center {
    text-align: center;
}

.text-left, .title {
    text-align: left;
}

.text-right {
    text-align: right;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.col-2 {
    box-sizing: border-box;
    flex-basis: 48%;
}

@media screen and (max-width: 769px) {
    .col-2 {
        flex-basis: 96%;
    }
}

.col-7 {
    flex-basis: 68%;
}

@media screen and (max-width: 1023px) {
    .col-7 {
        flex-basis: 96%;
        margin: 4% 2%;
    }
}

.col-full {
    flex-basis: 98%;
    margin: 0 1%;
}

@media (max-width: 769px) {
    .col-full {
        flex-basis: 98%;
        margin: 0 1%;
    }
}

.push-top {
    margin-top: 20px;
}

/* Cancel btn .btn-ghost */
.btn:hover, .btn-blue:hover, .btn-blue-outlined:hover, .btn-ghost:hover {
    transition: all 0.4s ease;
}

.btn-ghost {
    flex-grow: 0;
    color: #8f1f28;
}

.btn-ghost:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background-color: rgb(245 134 134 / 30%);
}

@media scrren and (max-width: 769px) {
    .btn, .btn-blue, .btn-ghost {
        padding: 10px 20px;
    }
}

.btn:disabled, .btn-blue:disabled, .btn-ghost:disabled, .btn-disabled {
    cursor: default;
}

.btn:disabled:hover, .btn-blue:disabled:hover, .btn-ghost:disabled:hover, .btn-disabled:hover {
    cursor: default;
    color: white;
}

.btn-ghost {
    flex-grow: 0;
}

.btn:disabled, .btn-blue:disabled, .btn-ghost:disabled, .btn-disabled, a > img:hover {
    opacity: 0.8;
}

/*
#app {
    background: #F5F8FE;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 20px;
}
*/

/* posts
*/
/*
.post-list {
    padding: 0;
    background-color: white;
}

.post-list .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 20px;
    min-height: 45px;
}

.post-list .post:nth-child(odd) {
    background: rgba(73, 89, 96, 0.06);
    border-bottom-left-radius: 20px;
}

.post-list .post:last-child {
    border-bottom-left-radius: 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

.post-list {
    margin-top: 20px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 6px 16px;
    box-shadow: 3px 3px 1px rgb(245 134 134 / 30%);
    margin-bottom: 20px;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.post:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 20px rgb(245 134 134 / 30%);
}

/*
*/

.list-title {
    color: #8f1f28 ;
    font-weight: 400;
    display: flex;
    width: 68%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 30px;
    margin: auto;
    margin-bottom: 30px;
}

.list-title h1:hover {
    color: rgb(245 134 134 / 30%);
}
