body {
    /* background-color: #F6F8FF; */
    background-color: white;
    min-height: 100vh;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../../public/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../public/fonts/roboto-v29-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../../public/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../public/fonts/roboto-v29-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media screen and (min-width: 1023px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    html {
        font-size: 16px;
    }
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: left;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.header-text {
    color: #ff460c;
}

.nav-bar__logo-icon-left {
    height: 80px;
    width: 200px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .nav-bar__logo-icon-left {
        height: 60px;
        width: 160px;
    }
}

.logo-full {
    height: 560px;
    width: 560px;
    object-fit: cover;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .logo-full {
        height: 400px;
        width: 400px;
    }
}

.post-card__logo-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .post-card__logo-icon {
        height: 60px;
        width: 60px;
    }
}

.post-item__author,
.comment-list-item__author {
    color: rgba(84, 84, 84, 0.781);
    width: 200px;
    max-width: 240px;
    margin-left: auto;
    padding-right: 20px;
    font-size: 16px;
}

/*
.text-faded {
    color: rgba(84, 84, 84, 0.7);
    width: 80px;
    margin: auto;

}

.bloc-comment {
    width: 300px;
    margin-right: 10px;
}
*/

.text,
p {
    font-size: 16px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .text,
    p,
    .text-xsmall {
        font-size: 15px;
    }
}

.text-xsmall {
    font-size: 13px;
}

h1 {
    font-size: 36px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
}

h2 {
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 24px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

input, 
textarea {
    box-shadow: none;
    display: block;
}

input:read-only, 
textarea:read-only {
    color: #b1999d;
    pointer-events: none;
}

form {
    margin: 0;
}

.form-input,
.post-item__title {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font: inherit;
    padding: 5px 10px;
    transition: all 0.3s ease;
    width: 100%;
    color: #505050;
    background-color: #fdfdfd;
    min-height: 43px;
}

.form-input:disabled,
.post-item__title:disabled {
    cursor: no-drop;
    background: #F5F8FE;
    color: #bbbbbb;
}

.form-input:disabled::placeholder,
.post-item__title:disabled::placeholder {
    color: #bbbbbb;
}

.form-input::placeholder,
.post-item__title::placeholder {
    font-size: inherit;
    font-weight: 400;
    color: #878787;
}

.form-input:focus,
.post-item__title:focus,
.post-item__content:focus, 
.comment-item__content:focus {
    outline: none;
    border: 1px solid #c7c7c7;
    color: #434343;
    background-color: white;
}

.form-input:invalid,
.post-item__title:invalid {
    border-color: #C82543;
}

.form-input:invalid~.form-error,
.post-item__title:invalid~.form-error {
    display: block;
}

@media screen and (max-width: 768px) {
    .form-input,
    .post-item__title {
        padding-left: 10px;
        height: 50px;
    }
}

.post-item__content,
.comment-item__content {
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 0px;
    min-height: 110px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font: inherit;
    resize: none;
}

/*
.post-content,
.comment-content {
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 0px;
    min-height: 110px;
}
*/
.comment-content {
    width: 100%;
    min-height: 60px;
}

.input-error {
    border-color: #C82543;
}

.input-error~.form-error,
.alert-error {
    display: block;
}

.form-error,
.alert-error,
.alert-succes {
    background: #f7e9ec;
    display: block;
    color: #C82543;
    font-size: 0.8em;
    border-radius: 100px;
    padding: 6px 20px;
    margin-top: 10px;
}

.alert-succes {
    color: #080808;
}

@media screen and (max-width: 768px) {
    .form-error,
    .alert-error,
    .alert-succes {
        width: 100%;
    }
}
/*
.comment-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}
*/
.input-group,
.post-item__group {
    margin-bottom: 12px;
    width: 100%;
    display: block;
}

.form-label,
.input-group>label
.post-item__group>label {
    margin-bottom: 5px;
    display: block;
    color: #767676;
}

.form-label-password,
.input-group>label-password
.post-item__group>label-password {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .form-btn {
        width: 100%;
    }
}

input[type="submit"],
button {
    font-size: 18px;
    cursor: pointer;
}

button a {
    color: white;
}

button {
    border: none;
    background: transparent;
}

.btn-default {
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    display: inline-block;
    outline: 0;
    color: white;
    background: #8f1f28;
}

.btn-default:hover {
    transition: all 0.4s ease;
}

@media screen and (max-width: 768px) {
    .btn-default {
        padding: 10px 20px;
    }
}

.btn-default:hover {
    color: white;
    background: #8f1f28;
}

.btn-block {
    width: 100%;
}

button {
    outline: 0;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-actions>*:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .form-actions {
        flex-wrap: wrap;
    }
}

.space-between {
    justify-content: space-between;
}

.card {
    background: white;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

.card-form {
    padding: 40px 60px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

@media screen and (min-width: 1024px) {
    .card-form {
        padding: 60px;
    }
}

@media screen and (max-width: 1023px) {
    .card-form {
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .card-form {
        padding: 40px 20px;
        margin-top: 10px;
    }
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 1.15;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ff460c;
}

li a:hover {
    color: #8f1f28;
}

li a:active {
    color: rgb(245 134 134 / 30%);
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

.flex-column {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .flex-column {
        max-width: 800px;
    }
}

.flex-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1200px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .flex-container {
        max-width: 900px;
    }
}

.flex-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.col {
    margin: 0 1%;
}

@media screen and (max-width: 768px) {
    .col {
        margin: 0 4%;
    }
}

.container {
    display: flex;
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .container {
        width: 96%;
    }
}

.text-center {
    text-align: center;
}

.text-left,
.title {
    text-align: left;
}

.text-right {
    text-align: right;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.col-2 {
    box-sizing: border-box;
    flex-basis: 48%;
}

@media screen and (max-width: 768px) {
    .col-2 {
        flex-basis: 96%;
    }
}

.col-7 {
    flex-basis: 68%;
}

@media screen and (max-width: 1023px) {
    .col-7 {
        flex-basis: 96%;
        margin: 4% 2%;
    }
}

.post-card__container {
    flex-basis: 98%;
    margin: 0 1%;
}

@media (max-width: 768px) {
    .post-card__container {
        flex-basis: 98%;
        margin: 0 1%;
    }
}

.btn-default:hover,
.btn-normal:hover {
    transition: all 0.4s ease;
}

.btn-normal {
    background: white;
    color: #8f1f28;
}

.btn-default, 
.btn-normal {
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    display: inline-block;
    outline: 0;
}

.btn-default {
    color: white;
    background: #8f1f28;
}

.btn-normal:hover {
    color: white;
    background-color: rgb(245 134 134 / 30%);
}

.btn-default:hover {
    color: white;
    background-color: rgba(73, 9, 9, 0.3);
}

@media screen and (max-width: 768px) {
    .btn-default,
    .btn-normal {
        padding: 10px 20px;
    }
}

.post-list {
    margin-top: 20px;
}

.post-item,
.comment-item
 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 6px 16px;
    box-shadow: 3px 3px 1px rgb(245 134 134 / 30%);
    margin-bottom: 20px;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.post-item:hover.visual-hover,
.user-list-item:hover.visual-hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 20px rgba(58, 17, 17, 0.3);
}

/*
*/
.post-card__group-title {
    display: flex;
    width: 80%;
    flex-direction: column;;
    align-items: center;
    margin: auto;
}

.post-card__group-headings {
    color: #8f1f28;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 30px;
    margin: auto;
}

.post-card__first-header,
.post-card__second-header,
.post-item__title,
.post-item__content,
.comment-item__content {
    margin: 0;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.post-item__title,
.post-item__content {
    text-align: left;
}
.post-card__group-headings
.post-card__group-headings h1:hover {
    color: rgba(252, 223, 223, 0.3);
}

.comment-list-item,
.user-list-item {
    background: #fbf0f0;
    display: block;
    border-radius: 16px;
    padding: 6px 20px;
    margin-top: 10px;
    width: 80%;
    margin-bottom: 20px; 
    /* margin-left: auto; */
}
