.DS_Store
node_modules
/dist
groupomania-vue/src/assets/alls
groupomania-vue/src/dist
groupomania-vue/src/store/dist
groupomania-vue/src/router/dist
groupomania-vue/src/services/dist
groupomania-vue/dist/
groupomania-vue/src/store/products.js

backend/dist
backend/middleware/dist/
backend/controllers/dist
backend/models/dist
backend/routes/dist
backend/config/dist
backend/images

# local env files
.env.local
.env.*.local
backend/.env
backend/config/db.config.js
backend/config/user.config.js
backend/config/post.config.js
backend/config/post.config-template.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
